{% extends "cookBook_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>The Cookbook</h1>


<p>This is The Cookbook App! Write your recipes down here and make them viewable to the public or keep them private.
    Also browse entries from other cooking enthusiasts and save them for personal reference. Remember to post an entry 
    it must contain the ingredients and the full recipe but if you don't make it public or private it will default to private. 
    Happy cooking!
</p>


{% endblock %}